@font-face {
	font-family: Raleway-Regular;
	src:url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
	font-family: Raleway-Bold;
	src:url('../fonts/Raleway-Bold.ttf') format('truetype');
}
	
@font-face {
	font-family: Raleway-Regular;
	src:url('../fonts/Raleway-Regular.ttf') format('truetype');
}

body {
	background-color: white;
	font-family: Raleway-Regular;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Raleway-Bold;
}

.wrapper {
	width: 100%;
}

header {
	background-color: white;
	min-height: 50px; /*min-height : tinggi di awal*/
	border-bottom: 1px solid #e5e5e5; /*1px : ketebalan, solid: tipe border, warna*/
	padding: 15px 0; /*padding: ngatur jarak box yang di dalam*/
	box-shadow: 0 0 3px #000; /*horizontal, vertikal, tebal, warna*/

}
.menu .bg-light {
	background-color: white !important; 
	/*important : ketika ada properties yang sama, 
		dan ingin dijalankan pertama kali*/

}
.slider {
	width: 100%;
}

.slider img {
	width: 100%;
}

.konten {
	margin: 50px 0; /*margin: mengatur jarak antara box dengan box*/
}

.harga p{
	color: red;
}

.top-30 {
	margin-top: 30px;
}

footer .footer-atas {
	background-color: lightblue;
	padding: 20px 0 30px 0;
}
footer .footer-atas .isi-artikel a {
	color: red;
	text-decoration: underline;
}
.top-20 {
	margin: 20px 0 20px 0;
}
.top-25 {
	margin: 20px 20px 20px 20px;
}
.top-20 {
	margin-top: 20px;
}
.hijau-tosca {
	background-color: lightgrey;
}
footer .footer-bawah {
	padding: 5px 0 5px 0;
}
footer .footer-bawah p{
	margin-bottom: 8px;
	margin-top: 8px;
}
.top-15 {
	margin-top: -30px;
	margin-bottom: 20px;
}
.lightpink {
	background-color: lightpink;
}
.lightgreen {
	background-color: lightcyan;
}
.margin {
	margin-bottom: 0;
	margin-top: 0;
}
label {
	font-weight: bold;
}
.gambar-kecil img {
	width: 84px;
	margin-top: 10px;

}
.how-to-order p{
	margin-top: 0;
	margin-bottom: 0;
}
.how-to-order-2 p{
	margin-top: 0;
	margin-bottom: 0;
}
.price {
	color: darkred;
}
span.hijau {
	color: green;
}
.how-to-order {
	border-left: 1px solid #e5e5e5;
	padding-left: 30px;
}
.cara-order-payment {
	padding-left: 30px;
}

}@media screen and (max-width: 768px) {/*layar Tablet*/
	.gambar img, .menu {
		width: 100%;
		margin-top: 20px;

	}	
	.gambar-kecil img {
		width: 49px;
	}
	.menu {
		float: left;
	}
}

@media screen and (max-width: 414px) {/*layar HandPhone*/
	.gambar img, .menu {
		width: 100%;

	}	

	.gambar-kecil img {
		width: 92px;
	}

	.title-product {
		margin-top: 20px;
	}
	.gambar {
		width: 
	}
}
/*min width : 1000px ke 0px*/
/*max width : 0px ke 1000px*/

.media img {
	width: 130px;
	height: 90px;
}
.media-body {
	font-size: 13px;
}
.map img {
	width: 800px;
	height: 500px;
}
.tags {
	margin: 10px 10px 10px 10px;
	padding: 3px 5px 3px 5px;
}
